<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
	<!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
	<!--<system.webServer>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
				<add name="X-Frame-Options" value="DENY"/>
			</customHeaders>
		</httpProtocol>

		<security>
			<requestFiltering removeServerHeader="true" />
		</security>
	</system.webServer>-->
	<system.web>
		<customErrors mode="Off"/>
		<!--<httpCookies requireSSL="true" />-->
		<sessionState cookieName="ZarrinLendCookie" />
	</system.web>
	<system.webServer>
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<httpErrors errorMode="Detailed" />
    <!--<rewrite>
      <globalRules>
        <rule name="Redirect to HTTPS" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
            <add input="{HTTPS}" ignoreCase="true" matchType="Pattern" negate="false" pattern="OFF" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" redirectType="Permanent" />
        </rule>
      </globalRules>
    </rewrite>-->
		<aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
			<environmentVariables>
				<environmentVariable name="ASPNETCORE_DETAILEDERRORS" value="true" />
				<environmentVariable name="COMPLUS_ForceENC" value="1" />
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
				<environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
				<!--<environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\7.0.304\DotnetTools\dotnet-watch\7.0.304-servicing.23275.9\tools\net7.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;E:\program files\vs\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll;e:\program files\vs\common7\ide\commonextensions\microsoft\hotreload\Microsoft.Extensions.DotNetDeltaApplier.dll" />-->
				<environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="wss://localhost:45444/Web.UI/,ws://localhost:53402/Web.UI/" />
				<environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
				<environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAl/j2VIznVNbxcAs3oMdks2uJCbsTXhE0Sf+0dc1lKb6FluHECCoENxv/lQwOeXS0hcCC6rtJCXnaWfS3S2JvK3G2SBQI7YGx+mGEDgJM57v25Xe+znga8QZfOv14ny7KtOFIHlfWSLmllMF7Nvva+99bi3PqGMCriJqXVAN9VT14EVEZ6xsnjX58JmJwBl3SSOFojOn4fojOKK6PRnZs+7Ka4cabmPc8deJRcekLf6rWl+25IRLwLaBltTejtmlr1q3wS4OmZvzp9PCs7zWF8CihguZX+tWysY7NgMCwa6Pxs6fONfPVAO0IKGzjQ8koAr7Il7ubXyCSuZKqrfgDnwIDAQAB" />
				<environmentVariable name="ASPNETCORE_AUTO_RELOAD_VDIR" value="/" />
				<environmentVariable name="DOTNET_HOTRELOAD_NAMEDPIPE_NAME" value="e9e13384-2c85-4f5d-864c-5594a657dd82" />
			</environmentVariables>
		</aspNetCore>
	</system.webServer>
</configuration>
<!--ProjectGuid: A6FC2042-B53F-4DAE-AE32-61B3632AC1CE-->