@font-face {
    font-family: Lalezar;
    src: url('../fonts/Lalezar/Lalezar-Regular.eot');
    src: url('../fonts/Lalezar/Lalezar-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Lalezar/Lalezar-Regular.woff') format('woff'), url('../fonts/Lalezar/Lalezar-Regular.woff2') format('woff2'), url('../fonts/Lalezar/Lalezar-Regular.ttf') format('truetype'), url('../fonts/Estedad/estedad-black.svg#estedadblack') format('svg');
    font-style: normal;
}

@font-face {
    font-family: Eestedad;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/Estedad/estedad-black.eot');
    src: url('../fonts/Estedad/estedad-black.eot?#iefix') format('embedded-opentype'), url('../fonts/Estedad/estedad-black.woff2') format('woff2'), url('../fonts/Estedad/estedad-black.woff') format('woff'), url('../fonts/Estedad/estedad-black.ttf') format('truetype'), url('../fonts/Estedad/estedad-black.svg#estedadblack') format('svg');
}

@font-face {
    font-family: Eestedad;
    src: url('../fonts/Estedad/estedad-bold.eot');
    src: url('../fonts/Estedad/estedad-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Estedad/estedad-bold.woff2') format('woff2'), url('../fonts/Estedad/estedad-bold.woff') format('woff'), url('../fonts/Estedad/estedad-bold.ttf') format('truetype'), url('../fonts/Estedad/estedad-bold.svg#estedadbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Eestedad;
    src: url('../fonts/Estedad/estedad-light.eot');
    src: url('../fonts/Estedad/estedad-light.eot?#iefix') format('embedded-opentype'), url('../fonts/Estedad/estedad-light.woff2') format('woff2'), url('../fonts/Estedad/estedad-light.woff') format('woff'), url('../fonts/Estedad/estedad-light.ttf') format('truetype'), url('../fonts/Estedad/estedad-light.svg#estedadlight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Eestedad;
    src: url('../fonts/Estedad/estedad-medium.eot');
    src: url('../fonts/Estedad/estedad-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Estedad/estedad-medium.woff2') format('woff2'), url('../fonts/Estedad/estedad-medium.woff') format('woff'), url('../fonts/Estedad/estedad-medium.ttf') format('truetype'), url('../fonts/Estedad/estedad-medium.svg#estedadmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Eestedad;
    src: url('../fonts/Estedad/estedad-thin.eot');
    src: url('../fonts/Estedad/estedad-thin.eot?#iefix') format('embedded-opentype'), url('../fonts/Estedad/estedad-thin.woff2') format('woff2'), url('../fonts/Estedad/estedad-thin.woff') format('woff'), url('../fonts/Estedad/estedad-thin.ttf') format('truetype'), url('../fonts/Estedad/estedad-thin.svg#estedadthin') format('svg');
    font-weight: 100;
    font-style: normal;
}


@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir/Vazir.eot');
    src: url('../fonts/Vazir/Vazir.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir/Vazir.woff2') format('woff2'), url('../fonts/Vazir/Vazir.woff') format('woff'), url('../fonts/Vazir/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir/Vazir-Bold.eot');
    src: url('../fonts/Vazir/Vazir-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir/Vazir-Bold.woff2') format('woff2'), url('../fonts/Vazir/Vazir-Bold.woff') format('woff'), url('../fonts/Vazir/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir/Vazir-Black.eot');
    src: url('../fonts/Vazir/Vazir-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir/Vazir-Black.woff2') format('woff2'), url('../fonts/Vazir/Vazir-Black.woff') format('woff'), url('../fonts/Vazir/Vazir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir/Vazir-Medium.eot');
    src: url('../fonts/Vazir/Vazir-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir/Vazir-Medium.woff2') format('woff2'), url('../fonts/Vazir/Vazir-Medium.woff') format('woff'), url('../fonts/Vazir/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Vazir Light';
    src: url('../fonts/Vazir/Vazir-Light.eot');
    src: url('../fonts/Vazir/Vazir-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir/Vazir-Light.woff2') format('woff2'), url('../fonts/Vazir/Vazir-Light.woff') format('woff'), url('../fonts/Vazir/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Vazir Thin';
    src: url('../fonts/Vazir/Vazir-Thin.eot');
    src: url('../fonts/Vazir/Vazir-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir/Vazir-Thin.woff2') format('woff2'), url('../fonts/Vazir/Vazir-Thin.woff') format('woff'), url('../fonts/Vazir/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}


@font-face {
    font-family: VazirFd;
    src: url('../fonts/VazirFd/Vazir-FD.eot');
    src: url('../fonts/VazirFd/Vazir-FD.eot?#iefix') format('embedded-opentype'), url('../fonts/VazirFd/Vazir-FD.woff2') format('woff2'), url('../fonts/VazirFd/Vazir-FD.woff') format('woff'), url('../fonts/VazirFd/Vazir-FD.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: VazirFd;
    src: url('../fonts/VazirFd/Vazir-Bold-FD.eot');
    src: url('../fonts/VazirFd/Vazir-Bold-FD.eot?#iefix') format('embedded-opentype'), url('../fonts/VazirFd/Vazir-Bold-FD.woff2') format('woff2'), url('../fonts/VazirFd/Vazir-Bold-FD.woff') format('woff'), url('../fonts/VazirFd/Vazir-Bold-FD.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: VazirFd;
    src: url('../fonts/VazirFd/Vazir-Black-FD.eot');
    src: url('../fonts/VazirFd/Vazir-Black-FD.eot?#iefix') format('embedded-opentype'), url('../fonts/VazirFd/Vazir-Black-FD.woff2') format('woff2'), url('../fonts/VazirFd/Vazir-Black-FD.woff') format('woff'), url('../fonts/VazirFd/Vazir-Black-FD.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: VazirFd;
    src: url('../fonts/VazirFd/Vazir-Medium-FD.eot');
    src: url('../fonts/VazirFd/Vazir-Medium-FD.eot?#iefix') format('embedded-opentype'), url('../fonts/VazirFd/Vazir-Medium-FD.woff2') format('woff2'), url('../fonts/VazirFd/Vazir-Medium-FD.woff') format('woff'), url('../fonts/VazirFd/Vazir-Medium-FD.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: VazirFd;
    src: url('../fonts/VazirFd/Vazir-Light-FD.eot');
    src: url('../fonts/VazirFd/Vazir-Light-FD.eot?#iefix') format('embedded-opentype'), url('../fonts/VazirFd/Vazir-Light-FD.woff2') format('woff2'), url('../fonts/VazirFd/Vazir-Light-FD.woff') format('woff'), url('../fonts/VazirFd/Vazir-Light-FD.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: VazirFd;
    src: url('../fonts/VazirFd/Vazir-Thin-FD.eot');
    src: url('../fonts/VazirFd/Vazir-Thin-FD.eot?#iefix') format('embedded-opentype'), url('../fonts/VazirFd/Vazir-Thin-FD.woff2') format('woff2'), url('../fonts/VazirFd/Vazir-Thin-FD.woff') format('woff'), url('../fonts/VazirFd/Vazir-Thin-FD.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Material Design Icons";
    src: url("../fonts/material/materialdesignicons-webfont.eot?v=1.8.36");
    src: url("../fonts/material/materialdesignicons-webfont.eot?#iefix&v=1.8.36") format("embedded-opentype"), url("../fonts/material/materialdesignicons-webfont.woff2?v=1.8.36") format("woff2"), url("../fonts/material/materialdesignicons-webfont.woff?v=1.8.36") format("woff"), url("../fonts/material/materialdesignicons-webfont.ttf?v=1.8.36") format("truetype"), url("../fonts/material/materialdesignicons-webfont.svg?v=1.8.36#materialdesigniconsregular") format("svg");
    font-weight: normal;
    font-style: normal
}