body {
    counter-reset: step;
}

.steps {
    padding: 0;
}

    .steps li {
        list-style-type: none;
        float: right;
        position: relative;
        text-align: center;
        margin-right: 60px;
        margin-bottom: 20px;
        font-size: small;
    }

        .steps li:before {
            content: counter(step);
            counter-increment: step;
            width: 60px;
            height: 60px;
            line-height: 56px;
            display: block;
            border-radius: 50%;
            margin: 0 auto 10px auto;
            border: 3px solid #ddd;
            text-align: center;
            background-color: transparent;
            z-index: 99;
            position: relative;
            font-size: x-large;
            background-color: #ffffff;
            color: #b3b3b3;
            transition: color ease-out 400ms, border-color ease-out 400ms;
        }

        /*progressbar connectors*/
        .steps li:after {
            content: '';
            width: 100%;
            height: 4px;
            background-color: #ddd;
            position: absolute;
            right: -100%;
            top: 30px;
            z-index: 1; /*put it behind the numbers*/
            transition: background-color ease-out 400ms;
        }

        .steps li:first-child {
            margin-right: 0;
        }

            .steps li:first-child:after {
                /*connector not needed before the first step*/
                content: none;
            }

        .steps li.active {
            color: #20c997;
            transition: color ease-out 400ms;
        }
            /*marking active/completed steps green*/
            /*The number of the step and the connector before it = green*/
            .steps li.active:before {
                color: #20c997;
                border-color: #20c997;
                transition: color ease-out 400ms, border-color ease-out 400ms;
            }

            .steps li.active + li:after {
                background-color: #20c997;
                transition: background-color ease-out 400ms;
            }

        .steps li.danger,
        .steps li.error {
            color: #dc3545;
            transition: color ease-out 400ms;
        }

            .steps li.danger:before,
            .steps li.error:before {
                color: #dc3545;
                border-color: #dc3545;
                transition: color ease-out 400ms, border-color ease-out 400ms;
            }

        .steps li.current {
            color: #64b5f6;
            transition: color ease-out 400ms;
        }

            .steps li.current:before {
                color: #64b5f6;
                border-color: #64b5f6;
                transition: color ease-out 400ms, border-color ease-out 400ms;
            }

.visible {
    animation-name: visible;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.hidden {
    display: none;
}

.cntr {
    width: 302px;
    margin: 0 auto 0 auto;
}

@keyframes visible {
    from {
        opacity: .3;
        visibility: hidden !important;
    }

    to {
        visibility: visible !important;
        opacity: 1;
    }
}
